.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.absoluteCss {
    position: absolute;
}

.homeText {
    font-size: 50px;
}

.homeNote {
    font-size: 30px;
}

.homeAddress {
    font-size: 20px;
}

.colorAndPadding {
    color: #fff;
    margin-bottom: 10px;
}

.homeContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("https://bit.ly/3gSmKQp");
    background-size: 100%;
}


.mainContainer {
    position: relative;
}

.toastBar {
    position: fixed;
    bottom: -100px;
    height: 100px;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toastTag {
    background-color: aqua;
    padding: 25px;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
}

.toastButton {
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 600;
    border: 1px solid gray;
}
.toastButton:hover {
    color: green;
}