.navLink {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerContainer {
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tabMenuContainer {
    background-color: #24252A;
    width: 100vw;
}

.tabMenu {
    background-color: #85C9E9;
    height: 5px;
    transition: all .4s ease-in-out;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}