.navLink {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerContainer {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
